$neon: #2bff00;
$bg: #0d111e;
$secondary: #13182b;
$card-bg: #efefef;
$primary-font: "Lato", sans-serif;
$secondary-font: "Bitter", sans-serif;
$filter: brightness(0) saturate(100%) invert(50%) sepia(77%) saturate(861%) hue-rotate(70deg) brightness(120%)
    contrast(115%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-width: 360px;
    scrollbar-width: none;
}

body {
    color: #fff;
    user-select: none;
    background-color: $bg;
    font-family: $primary-font;
}

section {
    padding: 2em;
}

img {
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hide {
    display: none;
}

.btn {
    height: 3em;
    color: $neon;
    display: flex;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background: none;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border-radius: 1.5em;
    border: 2px solid $neon;
    justify-content: center;

    &:focus,
    &:hover {
        color: $bg;
        background-color: $neon;
    }
}

.underline {
    font-size: 2.5em;
    position: relative;
    display: inline-block;

    &::after {
        left: 0;
        content: "";
        width: 40%;
        height: 0.12em;
        bottom: -0.1em;
        background: $neon;
        position: absolute;
        border-radius: 1em;
        display: inline-block;
    }
}

.subtitle {
    display: block;
    font-size: 0.875em;
    white-space: nowrap;
}

.nav-bar {
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 4em;
    color: $neon;
    position: fixed;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);

    &::before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
        background: rgba($color: $bg, $alpha: 0.3);
        backdrop-filter: saturate(180%) blur(20px);
    }

    @supports not (backdrop-filter: none) {
        background: rgba($color: $bg, $alpha: 1);
    }

    .logo {
        display: none;
    }

    ul {
        height: 100%;
        display: flex;

        a {
            width: 100%;
            height: 100%;
            color: inherit;
            display: flex;
            outline: none;
            flex-flow: column;
            text-align: center;
            align-items: center;
            text-decoration: none;
            justify-content: center;

            .profile {
                background-image: url(assets/icons/user.svg);
            }

            .portfolio {
                background-image: url(assets/icons/portfolio.svg);
            }

            .skills {
                background-image: url(assets/icons/skills.svg);
            }

            .experience {
                background-image: url(assets/icons/work.svg);
            }
        }

        li {
            flex: 1;
            height: 100%;
            color: #fff;
            cursor: pointer;
            display: inline-block;

            &.selected {
                color: $neon;

                .icon {
                    filter: $filter;
                }
            }

            .icon {
                width: 1.5em;
                height: 1.5em;
                pointer-events: none;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
            }

            span {
                display: none;
                font-size: 0.6em;
                pointer-events: none;
                transition: transform 0.3s ease;
            }
        }
    }
}

#profile {
    .information {
        height: calc(100vh - 4em);
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;

        .logo {
            top: 0;
            left: 0;
            width: 3em;
            height: 3em;
            position: absolute;
        }

        .name {
            span {
                color: $bg;
                font-size: 0.75em;
                font-weight: bold;
                padding: 0.4em 1.2em;
                background-color: #fff;
                border-radius: 1.5em 1.5em 1.5em 0;
            }

            h1 {
                color: $neon;
                margin-top: 0.2em;
                font-size: 3em;
            }

            h4 {
                font-size: 1.6em;
                letter-spacing: 0.1em;
                font-family: $secondary-font;
            }
        }

        .profile-pic {
            top: -2em;
            left: -2em;
            right: -2em;
            z-index: -1;
            bottom: 2em;
            position: absolute;
            background-size: cover;
            filter: brightness(0.4);
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(assets/pic.jpg);
        }
    }

    #about-me {
        padding-top: 2em;

        .avatar {
            margin: 2em auto;
            width: 70%;

            img {
                width: 100%;
            }
        }

        .wrapper {
            & > span {
                padding-left: 0.5em;
            }
        }

        .description {
            p {
                line-height: 1.5;
                margin-bottom: 2rem;
                letter-spacing: 0.5px;
                font-family: $secondary-font;
            }

            .resume {
                padding: 0 2em;
                max-width: 15em;
                margin: 3em auto 0;
                text-decoration: none;
            }
        }
    }
}

#portfolio {
    .projects {
        .heading {
            margin-top: 2em;
            position: relative;

            ul {
                display: flex;
                text-align: center;

                li {
                    width: 25%;
                    list-style: none;
                    font-size: 1.125em;

                    &.selected {
                        color: $neon;
                        position: relative;
                    }

                    a {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        color: inherit;
                        padding: 1em 0;
                        display: inline-block;
                        text-decoration: none;
                        transition: transform 0.3s ease;

                        &:hover,
                        &:focus {
                            border-radius: 2em;
                            background-color: $secondary;
                        }
                    }
                }
            }

            .selected-line {
                left: 0;
                bottom: 0;
                right: 75%;
                height: 0.2em;
                background: $neon;
                position: absolute;
                transition: all 0.3s ease;
                border-radius: 0.2em 0.2em 0 0;
            }
        }

        .container {
            margin: 2em 0 4em;

            .card {
                margin-bottom: 2em;
                width: calc(100vw - 4em);
                height: calc(100vw - 4em);

                a {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border-radius: 1em;
                    display: inline-block;
                    text-decoration: none;
                    background: $card-bg none no-repeat center;
                    background-size: 75%;

                    &:hover .clip,
                    &:focus .clip {
                        clip-path: circle(100%);
                    }

                    &.snake {
                        background-image: url(assets/snake.gif);
                    }

                    &.curis {
                        background-size: 70%;
                        background-image: url(assets/curis.svg);
                    }

                    &.tictactoe {
                        background-image: url(assets/tictactoe.gif);
                    }

                    &.malabis {
                        background-size: 70%;
                        background-image: url(assets/malabis.svg);
                    }

                    &.sorting {
                        background-image: url(assets/sorting.gif);
                    }

                    &.nike {
                        background-size: contain;
                        background-color: #fff;
                        background-image: url(assets/nike.gif);
                    }

                    &.flower {
                        background-color: #000;
                        background-image: url(assets/flower.gif);
                    }

                    &.daynight {
                        background-color: #fff;
                        background-image: url(assets/daynight.gif);
                    }

                    &.saturn {
                        background-color: #000;
                        background-image: url(assets/saturn.png);
                    }

                    &.watch {
                        background-size: contain;
                        background-color: #fff;
                        background-image: url(assets/watch.gif);
                    }

                    &.long {
                        height: 15%;
                    }

                    &.wide {
                        height: 7%;
                    }
                }

                .clip {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    display: flex;
                    flex-flow: column;
                    border-radius: 1em;
                    align-items: center;
                    clip-path: circle(0);
                    justify-content: center;
                    transition: clip-path 0.3s ease;
                    background: rgba($color: $bg, $alpha: 0.7);

                    .icon {
                        width: 3em;
                        height: 3em;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                    }

                    h5 {
                        font-size: 1.25em;
                        margin-top: 0.5em;
                    }

                    span {
                        font-size: 1.24em;
                        font-family: $secondary-font;
                    }
                }
            }

            .game .icon {
                background-image: url(assets/icons/game.svg);
            }

            .app .icon {
                background-image: url(assets/icons/apps.svg);
            }

            .design .icon {
                background-image: url(assets/icons/design.svg);
            }
        }
    }

    .services {
        padding: 2em;
        margin: 0 -2em;
        position: relative;
        background-color: $secondary;

        .services-container {
            margin-top: 3em;
            text-align: center;

            .card {
                width: 100%;
                padding: 1.5em;
                margin-bottom: 3em;
                border-radius: 1em;
                transition: transform 0.3s ease;
                box-shadow: 0 0 2em rgba(0, 0, 0, 0.75);

                &:hover {
                    transform: scale(1.1);
                }

                div {
                    height: calc(100% - 3em);
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .title {
                    margin-top: 1em;
                    font-size: 1.25em;
                }
            }
        }
    }
}

#skills {
    .skill-container {
        margin-top: 3em;

        .skill {
            display: flex;
            margin-bottom: 2em;
            align-items: center;
            justify-content: space-between;

            .icon {
                width: 3em;
                height: 3em;
                margin-right: 0.75em;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .value-wrapper {
                flex-grow: 1;
                position: relative;

                .skill-name,
                .percentage {
                    font-weight: bold;
                    font-size: 1.125em;
                    letter-spacing: 1px;
                    display: inline-block;
                }

                .year {
                    opacity: 0.7;
                    font-size: 0.875em;
                    margin-left: 0.5em;
                    display: inline-block;
                }

                .percentage {
                    float: right;

                    &::after {
                        content: "%";
                        font-size: calc(2em / 3);
                    }
                }

                .skill-bar {
                    width: 80%;
                    display: block;
                    height: 0.625em;
                    background: $neon;
                    margin-top: 0.6em;
                    border-radius: 0.4em;
                    transition: width 1s ease-out;

                    &::before {
                        content: "";
                        width: 100%;
                        z-index: -1;
                        height: inherit;
                        position: absolute;
                        border-radius: inherit;
                        box-sizing: border-box;
                        border: 2px solid #fff;
                    }

                    &.width-95 {
                        width: 95%;
                    }

                    &.width-90 {
                        width: 90%;
                    }

                    &.width-75 {
                        width: 75%;
                    }

                    &.animate {
                        width: 0;
                    }
                }
            }
        }
    }
}

#experience {
    overflow: hidden;
    background-color: $secondary;

    h2 {
        margin-bottom: 1em;

        & + span {
            white-space: normal;
        }
    }

    .exp-container,
    .edu-container {
        margin-top: 1em;

        .wrapper {
            display: flex;
            flex-flow: column;
            padding-left: 2em;
            position: relative;
            padding-bottom: 3em;

            &::before {
                content: "";
                top: 0.3em;
                left: 0;
                width: 0.4em;
                height: 0.4em;
                position: absolute;
                border-radius: 50%;
                border: 0.3em solid $neon;
            }

            &::after {
                content: "";
                top: 1.1em;
                left: 0.4em;
                width: 0.2em;
                background: $neon;
                position: absolute;
                height: calc(100% - 0.8em);
            }

            &:nth-child(even) {
                flex-flow: column-reverse;
            }

            &:last-child::after {
                display: none;
            }

            &:nth-child(odd) .right,
            &:nth-child(even) .left {
                margin-top: 1em;
            }

            &:nth-child(odd) .left h6,
            &:nth-child(even) .right h6 {
                color: $neon;
            }

            .left,
            .right {
                transition: all 0.5s ease-out;
            }

            .animate {
                opacity: 0;
                transform: translateX(25%);
            }

            h6 {
                font-size: 1.25em;
            }

            span {
                font-size: 0.875em;
            }
        }
    }
}

footer {
    margin-top: 3em;
    overflow: hidden;
    padding: 2em 2em 6em;

    .details {
        .email,
        .phone {
            position: relative;
            margin-bottom: 1em;
            display: inline-block;

            & > * {
                display: inline-block;
                vertical-align: middle;
            }

            .icon {
                width: 2em;
                height: 2em;
                border-radius: 50%;
                background-size: 60%;
                background-position: center;
                background-repeat: no-repeat;
                filter: $filter;
            }

            span {
                top: -50%;
                color: #fff;
                opacity: 0.35;
                font-size: 3em;
                font-weight: bold;
                position: absolute;
                white-space: nowrap;
                pointer-events: none;
                left: calc(10% + 16vw);
                text-transform: uppercase;

                &::before,
                &::after {
                    content: "";
                    height: 0;
                    width: 0.1em;
                    position: absolute;
                    background: #fff;
                    border-radius: 0.1em;
                    transform: rotate(40deg);
                    transition: all 0.2s ease;
                }

                &::before {
                    top: unset;
                    left: 0.5em;
                    bottom: -0.5em;
                    transform-origin: bottom left;
                }

                &::after {
                    top: -0.3em;
                    left: 3.3em;
                    bottom: unset;
                    transform-origin: top right;
                }
            }

            a {
                color: $neon;
                outline: none;
                line-height: 2em;
                font-weight: bold;
                text-decoration: none;

                &:hover,
                &:focus {
                    & ~ span::before {
                        top: unset;
                        left: 0.5em;
                        height: 2.3em;
                        bottom: -0.5em;
                    }

                    & ~ span::after {
                        top: -0.3em;
                        left: 3.3em;
                        height: 2.3em;
                        bottom: unset;
                    }
                }
            }
        }

        .email {
            display: block;

            .icon {
                background-image: url(assets/icons/mail.svg);
            }
        }

        .phone .icon {
            background-image: url(assets/icons/phone.svg);
        }
    }

    .social {
        margin: 2em 0;

        ul {
            display: flex;
            width: 18em;
            margin: 0 auto;
            justify-content: space-between;

            li {
                list-style: none;
                display: inline-block;

                a {
                    width: 3em;
                    background-size: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: $filter;

                    &:hover,
                    &:focus {
                        filter: none;
                    }
                }

                .github {
                    background-image: url(assets/icons/github.svg);
                }
                .codepen {
                    background-image: url(assets/icons/codepen.svg);
                }
                .linkedin {
                    background-image: url(assets/icons/linkedin.svg);
                }
                .instagram {
                    background-image: url(assets/icons/instagram.svg);
                }
            }
        }
    }

    .copyright {
        display: block;
        text-align: center;
        font-size: 0.8125em;
        letter-spacing: 1px;
        white-space: nowrap;
    }
}

// small devices

@media screen and (min-width: 600px) {
    #portfolio {
        .projects .container {
            .card {
                height: calc(50vw - 3em);
                width: calc(50vw - 3em);

                &.long {
                    height: calc((50vw - 3em) * 1.5);
                }

                &.wide {
                    height: calc((50vw - 3em) * 0.75);
                }
            }
        }

        .services .services-container .card {
            width: 30em;

            &:nth-child(even) {
                margin-left: calc(100% - 30em);
            }
        }
    }

    #experience {
        .exp-container,
        .edu-container {
            .wrapper {
                padding-left: 0;
                justify-content: space-between;

                &:nth-child(n) {
                    flex-flow: row;

                    .left,
                    .right {
                        margin-top: 0;
                        padding-left: 3em;
                        width: 50%;

                        &.animate {
                            opacity: 0;
                            transform: translateX(25%);
                        }
                    }

                    .left {
                        padding-left: 0;
                        text-align: right;
                        padding-right: 3em;

                        &.animate {
                            opacity: 0;
                            transform: translateX(-25%);
                        }
                    }
                }

                &::before,
                &::after {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

// medium devices

@media screen and (min-width: 768px) {
    section {
        padding: 5.5em 4em 4em;
    }

    .nav-bar {
        top: 0;
        height: 5em;
        bottom: unset;
        padding: 0 4em;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 2em;
            height: 2em;
            margin: 1.5em 0;
            display: inline-block;
        }

        ul {
            a {
                display: block;
                line-height: 5em;
                padding: 0 1em;

                &:hover span,
                &:focus span {
                    transform: scale(1.1);
                }
            }

            li {
                position: relative;
                width: auto;

                &.selected::after {
                    content: "";
                    left: 50%;
                    width: 25%;
                    height: 3px;
                    bottom: 1.4em;
                    background: $neon;
                    position: absolute;
                    pointer-events: none;
                    border-radius: 3px 3px 0 0;
                    transform: translateX(-50%);
                }

                .icon {
                    display: none;
                }

                span {
                    font-size: 1em;
                    display: inline-block;
                }
            }
        }
    }

    #profile {
        padding: 9em 4em 4em;

        .information {
            height: auto;
            white-space: nowrap;
            justify-content: space-between;

            &::before {
                content: none;
            }

            .logo {
                display: none;
            }

            .profile-pic {
                top: unset;
                left: unset;
                right: unset;
                filter: none;
                bottom: unset;
                z-index: unset;
                position: relative;
                border-radius: 71% 29% 34% 66% / 41% 32% 68% 59%;
                width: calc(35vw - 2em);
                height: calc(35vw - 2em);
            }

            .name {
                margin: 0;
                width: 50%;
                font-size: 2vw;
                display: inline-block;
                vertical-align: middle;

                h1 {
                    margin: 0.2em 0;
                }
            }
        }

        .know-more {
            margin: 3em auto;
        }

        #about-me {
            margin: 0;
            padding-top: 7em;

            .avatar {
                margin: 0;
                flex: 2;
            }

            .wrapper {
                margin: 0;
            }

            .description {
                margin-top: 2em;
                display: flex;
                align-items: center;
                gap: 15vw;
            }

            .text {
                flex: 2;

                .resume {
                    margin: 0 auto;
                }
            }
        }
    }

    #portfolio {
        padding-bottom: 0;

        .projects {
            .heading {
                width: 25em;
                margin: 2em auto 3em;
            }

            .container {
                .card {
                    width: calc((100vw - 12em) / 3);
                    height: calc((100vw - 12em) / 3);

                    &.long {
                        height: calc((100vw - 12em) * 0.5);
                    }

                    &.wide {
                        height: calc((100vw - 12em) * 0.25);
                    }
                }
            }
        }

        .services {
            margin: 0 -4em;
            padding: 4em 4em 5em;

            &::before {
                height: 8em;
                top: calc(-8em + 1px);
            }

            &::after {
                height: 8em;
                bottom: calc(-8em + 1px);
            }

            .services-container {
                display: flex;
                column-count: 3;
                column-gap: 2em;

                .card {
                    margin-bottom: 0;

                    &:nth-child(even) {
                        margin-left: 0;
                    }

                    div {
                        height: 18vw;
                        display: flex;
                    }

                    .title {
                        font-size: 2vw;
                        margin: 1.5em 0 0.5em;
                    }
                }
            }
        }
    }

    #skills .skill-container {
        column-count: 2;
        column-gap: 4em;
    }

    footer {
        margin-top: 0;
        padding: 4em;

        .details {
            display: flex;
            justify-content: space-evenly;

            .email,
            .phone {
                width: 20em;

                span {
                    left: 1em;
                }
            }
        }
    }
}

// large devices

@media screen and (min-width: 1024px) {
    #profile #about-me .text {
        flex: 3;
    }

    #portfolio {
        .projects .container {
            .card {
                width: calc((100vw - 14em) * 0.25);
                height: calc((100vw - 14em) * 0.25);

                &.long {
                    height: calc((100vw - 14em) * 0.375);
                }

                &.wide {
                    height: calc((100vw - 14em) * 0.1875);
                }
            }
        }

        .services .services-container {
            column-gap: 3em;
        }
    }
}

@keyframes move {
    from {
        background-position-y: -100%;
    }
    to {
        background-position-y: 200%;
    }
}
